{% render 'views/head.liquid' %}

<section class="detailview-header">
    <div>
        <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.625 14.625L0.625 7.625L7.625 0.625" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <span>Go back</span>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart"><path d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"/></svg>
</section>

<section class="detail-title-wrapper">
    <h1>Pokemon name</h1>
    <p>#001</p>
</section>

<div>
    <div>Clr</div>
    <p>Fire</p>
</div>

<img src="" alt="">

<section class="pokemon-details-section">
    <section class="pokemon-details-tab">
        <a href="#about">About</a>
        <a href="#stats">Stats</a>
        <a href="#evolution">Evolution</a>
    </section>

    <section id="about" class="pokemon-details-tab-content">
        <div class="pokemon-details-about-label">
            <p>Name</p>
            <p>ID</p>
            <p>Base</p>
            <p>Weight</p>
            <p>Height</p>
            <p>Types</p>
            <p>Abilities</p>
        </div>

        <div class="pokemon-details-about-value">
            <p>Pikachu</p>
            <p>001</p>
            <p>64 XP</p>
            <p>5.0 kg</p>
            <p>0.7 m</p>
            <p>Electric</p>
            <p>Electro</p>
        </div>
    </section>

    <section id="stats" class="pokemon-details-tab-content">
        <p>Pokemon stats</p>
    </section>

    <section id="evolution" class="pokemon-details-tab-content">
        <p>Pokemon evolutions</p>
    </section>
</section>

{% render 'views/foot.liquid' %}